@import "/stylesheets/index.css";
@import "/stylesheets/documentation.css";

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    background: url(/assets/clay-cover.png);
    background-size: cover;
}

.hero-text {
    position: fixed;
    top: 10rem;
    left: 40rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 40%;
    letter-spacing: 3px;
    line-height: normal;
}

.hero-title {
    letter-spacing: 3px;
    line-height: normal;
    font-size: 3rem;
    font-weight: 400;
}

.hero-description {
    font-size: x-large;
    letter-spacing: 2px;
}

.cover-actions {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 1.5rem;
}

.cover-action-btn {
    border: none;
    border-radius: 7px;
    padding: 7px 15px;
    font-size: large;
    letter-spacing: 2px;
}

.cover-action-btn:nth-child(1) {
    background: var(--COVER-PRIMARY);
    color: var(--PRIMARY-TEXT)
}

.cover-action-btn:nth-child(1):hover {
    background: var(--COVER-PRIMARY-HOVER);
    color: var(--PRIMARY-TEXT);
    cursor: pointer;
}

.cover-action-btn:nth-child(2) {
    background: var(--COVER-SECONDARY);
    border: 2px solid var(--COVER-PRIMARY);
}

.cover-action-btn:nth-child(2):hover {
    background: var(--COVER-SECONDARY-HOVER);
    color: var(--SECONDARY-TEXT);
    cursor: pointer;
}