@import "/stylesheets/index.css";

.primary-buttons-wrapper {
    background: #f3eae0;
}

.link-buttons-wrapper {
    background: #f7f5f4
}

.icon-buttons-wrapper {
    background: #f0eee9
}

.fab-wrapper {
    background: #ebe0d4
}


.rounded-btn {
    padding: 0.5rem 2rem;
    border-radius: 1.5rem;
}

.curved-btn {
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
}

.link-button {
    border: 1.5px solid var(--success-text);
    background: #385c23;
    color:  #fdfffd;
}

.link-button:hover {
    background: #73995c;
    cursor: pointer;
}

.primary-btn-solid {
    border: none;
    background: var(--primary-color);
    color: var(--primary-text);
}

.primary-btn-solid:hover {
    background: #883e23;
    cursor: pointer;
}


.primary-btn-text {
    background: #f0edec;
    border: 2px solid var(--primary-color);
    color: var(--primary-color)
}

.primary-btn-text:hover {
    background: #d8cec9;
    cursor: pointer;
}

.default-btn {
    padding: 0.5rem 2rem;
    border-radius: 5px;
}

.squircle-btn{
    height: 50px;
    width: 50px;
    border-radius:40% ;
    border: none;
    background: #9cada7;
    color: #0c1611;
    text-align: center;
}

.squircle-btn:hover{
    background: #aec7be;
    color: #0c1611;
}

.icon-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 6px;
}

.icon-btn:hover{
cursor: pointer;
}

.icon-default{
    background: var(--primary-color);
    color: var(--primary-text);
    border: none;
}

.icon-light{
    background: #ece8e8;
    border: 1px solid #b9b6b6
}

.icon-dark{
    background: #363b3f;
    border: none;
    color: #f1e9e9;
}

.fab{
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;
    border: none;
    box-shadow: 1px 2px 15px 1px #ccc7bd;
    background: var(--primary-color);
    color: var(--primary-text);
}

.fab:hover{
    cursor: pointer;
    box-shadow: 1px 5px 10px 1px #ada697;
}

.fab-extended{

}