@import "/main.css";

.btn {
    padding: 0.5rem 2rem;
    border-radius: 5px;
}

.rounded-btn {
    padding: 0.5rem 2rem;
    border-radius: 1.5rem;
}

.curved-btn {
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
}

.pri-btn {
    border: none;
    background: var(--PRIMARY-COLOR);
    color: var(--PRIMARY-TEXT);
}

.pri-btn-hover {
    border: none;
    background: var(--PRIMARY-HOVER);
    color: var(--PRIMARY-TEXT);
}

.pri-btn-disabled {
    border: none;
    background: var(--PRIMARY-DISABLED);
    color: var(--PRIMARY-TEXT);
}

.sec-btn {
    border: none;
    background: var(--SECONDARY-COLOR);
    color: var(--SECONDARY-TEXT);
}

.sec-btn:hover{
    border: none;
    background: var(--SECONDARY-HOVER);
    color: var(--SECONDARY-TEXT);
}
.sec-btn-hover {
    border: none;
    background: var(--SECONDARY-HOVER);
    color: var(--SECONDARY-TEXT);
}

.sec-btn-disabled {
    border: none;
    background: var(--SECONDARY-DISABLED);
    color: var(--SECONDARY-DISABLED-TEXT);
}

.link-btn {
    border: 1px solid var(--LIGHT-BORDER);
    background: var(--BTN-LIGHT);
    color: var(--PURE-BLACK);
}

.link-btn:hover {
    background: var(--LIGHT-HOVER);
}

.link-btn-outline {
    border: 2px solid var(--BTN-OUTLINE);
    background: var(--BTN-LIGHT);
    color: var(--PURE-BLACK);
}

.link-btn-outline:hover {
    background: var(--BTN-OUTLINE-HOVER)
}

.link-border-bottom {
    border: none;
    border-bottom: 3px solid var(--BOTTOM-BORDER);
    background: var(--BTN-BORDER-BOTTOM);
    color: var(--PURE-BLACK);
}

.link-border-bottom:hover {
    background: var(--BTN-BORDER-BOTTOM-HOVER)
}

.icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 12px;
}

.icon-btn:hover {
    cursor: pointer;
}

.icon-pri {
    border: none;
    background: var(--PRIMARY-COLOR);
    color: var(--PRIMARY-TEXT);
}

.icon-pri:hover {
    border: none;
    background: var(--PRIMARY-HOVER);
    color: var(--PRIMARY-TEXT);
}

.icon-light {
    border: 1px solid var(--LIGHT-BORDER);
    background: var(--BTN-LIGHT);
    color: var(--PURE-BLACK);
}

.icon-light:hover {
    background: var(--LIGHT-HOVER);
}

.icon-dark {
    border: none;
    background: var(--BTN-DARK);
    color: var(--BTN-DARK-TEXT);
}

.icon-dark:hover {
    background: var(--BTN-DARK-HOVER);
}

.fab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    padding: 1rem;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 2px 4px var(--SHADOW), 0px 4px 8px var(--SHADOW);
}

.fab-default {
    background: var(--SECONDARY-COLOR);
    color: var(--SECONDARY-TEXT);
}

.fab:hover {
    cursor: pointer;
    box-shadow: 0px 1px 2px var(--SHADOW-HOVER), 0px 2px 4px var(--SHADOW-HOVER);
}

.fab-extended {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: fit-content;
    border-radius: 3rem;
}

.fab-squircle {
    height: 50px;
    width: 50px;
    border-radius: 40%;
    background: var(--PRIMARY-COLOR);
    color: var(--PRIMARY-TEXT);
}

.fab-squircle:hover {
    background: var(--PRIMARY-HOVER);
    color: var(--PRIMARY-TEXT);
}