@import "/main.css";

.modals {
    text-align: center;
    position: relative;
}

.modal {
    display: flex;
    flex-direction: column;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

.modal-bg-content {
    filter: blur(2px);
}

.modal-cta-right {
    display: flex;
    justify-content: flex-end;
    padding: 4px 7px;
    margin-top: 12px;
    width: 100%;
}

.modal-cta {
    padding: 4px 7px;
    margin: 7px;
    border-radius: 4px;
    min-width: 4rem;
}