:root{
    --primary-color: #c07961;
    --secondary-color: #dacbc6;
    --success-color: #cdddc7;
    --warning-color: #e9e2b0;
    --error-color: #ebccc3;


    --primary-text: #f5efed;
    --secondary-text:#692006 ;
    --success-text:#043828 ;
    --warning-text:#3f2902 ;
    --error-text: #742409;

    
    --green-badge:#6ab91b ;
    --red-badge: #af2b21;
    --grey-badge: #969494;
}

