
:root{
    --PRIMARY-COLOR: #743017;
    --PRIMARY-HOVER:hsla(16, 67%, 27%, 0.8);
    --PRIMARY-HOVER-1:#8d482f;
    --PRIMARY-DISABLED: hsla(16, 67%, 27%, 0.5);
    --PRIMARY-TEXT: #f5efed;

    --SECONDARY-COLOR: #cea7a4;
    --SECONDARY-HOVER:hsla(4, 30%, 73%, 0.8) ;
    --SECONDARY-HOVER-1: #bd9390;
    --SECONDARY-DISABLED: hsla(4, 30%, 73%, 0.5);
    --SECONDARY-TEXT:#000000 ;
    --SECONDARY-DISABLED-TEXT: #918d8d;

    --DEFAULT-GREEN: #6ab91b;
    --LIGHT-GREEN:#cdddc7;
    --DARK-GREEN: #008000;
    --DARKER-GREEN: #043828;

    --DEFAULT-RED: #af2b21;
    --LIGHT-RED: #ebccc3;
    --DARK-RED: #742409;

    --DEFAULT-YELLOW: #ffd700;
    --LIGHT-YELLOW: #e9e2b0;
    --DARK-YELLOW: #92680b;
    --DARKER-YELLOW: #3f2902;

    --PURE-WHITE: #ffffff;
    --PURE-BLACK: #000000;
    
    --DEFAULT-GREY: #969494;

    --CARD-BADGE-DEF: #ffd700;
    --CARD-BG: #f1f5f9;
    --SHADOW-GREY: #6161612e;
   
    --BTN-LIGHT: #ece5e0;
    --LIGHT-HOVER: #d4ceca;
    --LIGHT-BORDER: #9a9e9a;
    --BTN-OUTLINE: #9a9e9a;
    --BTN-OUTLINE-HOVER: #f7f4f4;
    --BOTTOM-BORDER: #743017;
    --BTN-BORDER-BOTTOM: #e0dbdb;
    --BTN-BORDER-BOTTOM-HOVER: #cfcccc;
    --BTN-DARK: #4f5458;
    --BTN-DARK-TEXT: #f1e9e9;
    --BTN-DARK-HOVER: #404346;
    
    --SHADOW: #6161612e;
    --SHADOW-HOVER: #ada697;
}