.documentation-section {
    margin: 0 auto;
    font-family: Roboto, sans-sarif;
    font-weight: 400;
}

.doc-header {
    width: 100%;
    position: fixed;
    z-index: 1;
    padding: 1rem;
    background: url(/assets/clay.jpg);
    background-size: cover;
    text-align: center;
    font-family: 'Andika New Basic', sans-serif;
    font-size: 125%;
}

.header-title{
    margin-left: 1rem;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: fixed;
    top: 7rem;
    left: 1rem;
    width: 15rem;
    height: 100vh;
    padding: 1rem;
}

.nav-title {
    font-size: 165%;
}

.nav-subtitles{
    text-decoration: none;
    color: black
}
.content-section {
    position: relative;
    top: 7rem;
    left: 8rem;
    width: 76%;
    margin: auto;
    padding: 1rem;
}


