@import "/stylesheets/doc-colors.css";

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background: var(--SECONDARY-COLOR);
}

.documentation-section {
    margin: 0 auto;
    font-family: Roboto, sans-sarif;
    font-weight: 400;
}

.doc-header {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0px;
    z-index: 1;
    padding: 1rem;
    background: url(/assets/header.png);
    background-size: cover;
}

.header-links {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    margin-right: 6rem;
    margin-top: 1rem;
    align-items: flex-end;
    font-weight: 600;
}

.header-links a {
    border-bottom: 2px solid;
}

.header-links a:hover {
    cursor: pointer;
    color: var(--PRIMARY-COLOR);
    border-bottom: 2px solid var(--PRIMARY-COLOR);
}

.header-title {
    margin-left: 1rem;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: fixed;
    top: 8.5rem;
    left: 1rem;
    width: 15rem;
    height: 77vh;
    padding: 0.5rem;
    overflow-y: scroll;
    -ms-overflow-style: inherit;
    scrollbar-width: none;
}

.nav-bar::-webkit-scrollbar {
    width: 2px;
}

.nav-bar::-webkit-scrollbar-thumb {
    background: var(--SECONDARY-COLOR);
}

.nav-bar li {
    padding: 1rem;
    width: 100%;
    border-bottom: 2px solid var(--PURE-WHITE);
}

.nav-bar .active-page {
    background: var(--COVER-SECONDARY);
    border-radius: 4px;
    border-bottom: 2px solid var(--SECONDARY-COLOR);
}

.nav-title {
    font-size: 165%;
}

.nav-bar li .nav-subtitles {
    text-decoration: none;
    color: var(--SECONDARY-TEXT);
    padding: 1rem;
    width: 100%
}

.content {
    position: relative;
    top: 6rem;
    left: 8rem;
    width: 76%;
    margin: auto;
    padding: 1rem;
}

.description {
    margin: 2rem;
}

.component-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 1rem;
}

.component-showcase {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin: 1rem auto;
    padding: 1rem;
}

.component-showcase-col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.code-snippet {
    text-align: left;
    width: 60%;
    margin: auto;
    border-radius: 7px;
}

.class-highlight {
    background: var(--CODE-HIGHLIGHT-BG);
    padding: 5px;
    border-radius: 5px;
}

.page-nav-links {
    display: flex;
    justify-content: space-between;
}

.page-nav-links a {
    padding: 2px 5px;
    outline: 1px solid var(--PURE-WHITE)
}

.prev-page:hover {
    color: var(--SECONDARY-COLOR);
    border-radius: 4px;
    padding: 2px 5px;
    outline: 1px solid;
}

.next-page:hover {
    color: var(--PRIMARY-COLOR);
    border-radius: 4px;
    padding: 2px 5px;
    outline: 1px solid;
}

/* Avatars Section */
.sized-avatars {
    background: var(--SIZED-AVATARS-SECTION)
}

.squared-avatars {
    background: var(--SQUARED-AVATARS-SECTION);
}

.bordered-avatars {
    background: var(--BORDERED-AVATARS-SECTION);
}

/* Alerts Section */
.simple-alerts {
    background: var(--SIMPLE-ALERTS-SECTION);
    padding: 1rem;
    border-radius: 1rem;
}

.alerts-simple {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

.alerts-with-icons {
    background: var(--ALERTS-WITH-ICONS-SECTION);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;

}

.alert-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

/* Badges Section */
.badges-on-icons {
    background: var(--BADGES-ON-ICONS-SECTION);
}

.icon-with-badge {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.badges-on-avatars {
    background: var(--BADGES-ON-AVATARS-SECTION);
}

.avatar-with-badge {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

/* Buttons */
.btns-wrapper {
    background: var(--BTNS-SECTION);
}

.pri-btns-wrapper {
    background: var(--PRI-BTNS-SECTION);
}

.sec-btns-wrapper {
    background: var(--SEC-BTNS-SECTION);
}

.link-buttons-wrapper {
    background: var(--LINK-BUTTONS-SECTION)
}

.icon-buttons-wrapper {
    background: var(--ICON-BUTTONS-SECTION)
}

.fab-wrapper {
    background: var(--FAB-SECTION)
}

/* Cards */
.cards-w-badges-wrapper {
    background: var(--CARDS-W-BADGES-SECTION);
}

.cards-w-badges {
    flex-wrap: wrap;
}

.cards-w-dismiss-wrapper {
    background: var(--CARDS-W-DISMISS-SECTION);
}

.cards-w-overlay-wrapper {
    background: var(--CARDS-W-OVERLAY-SECTION);
}

.cards-text-only-wrapper {
    background: var(--CARDS-TEXT-ONLY-SECTION);
}

.cards-v-h-wrapper {
    background: var(--CARDS-V-H-SECTION);
}

.cards-with-shadow-wrapper {
    background: var(--CARDS-WITH-SHADOW-SECTION);
}

.cards-v-h {
    display: flex;
    flex-wrap: wrap;
}

/* Images */
.responsive-images-wrapper {
    background: var(--RES-IMG-SECTION);
}

.squared-images-wrapper {
    background: var(--SQ-IMG-SECTION);
}

.rd-img-wrapper {
    background: var(--RD-IMG-SECTION)
}

/* Inputs */

.textbox-wrapper {
    background: var(--TEXTBOX-SECTION);
}

.labelled-inputs-wrapper {
    background: var(--LBL-INPUT-SECTION);
}

.validation-inputs-wrapper {
    background: var(--VAL-INPUT-SECTION);
}

.radio-btns-wrapper {
    background: var(--RADIO-SECTION)
}

.checkbox-wrapper {
    background: var(--CHECKBOX-SECTION)
}

/* Grids */
.grid-2-wrapper {
    background: var(--GRID-2-SECTION);
}

.grid-3-wrapper {
    background: var(--GRID-3-SECTION);
}

.grid-wrapper {
    width: 80%;
    margin-bottom: 2rem;
    background: var(--GRID-WRAPPER);
    outline: 2px solid var(--SECONDARY-COLOR);
}

.grid-text {
    text-align: center;
    align-self: center;
}

.grid-text button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

/* Text Utils */
.headings-wrapper {
    background: var(--HEADINGS-SECTION);
}

.paragraphs-wrapper {
    background: var(--PARAGRAPHS-SECTION)
}

.text-alignment-wrapper {
    background: var(--TEXT-ALIGNMENT-SECTION)
}

.headings {
    outline: 1px solid var(--SECONDARY-COLOR);
    padding: 2rem;
    margin: 2rem auto;
    background: var(--TEXT-UTILS-DEMO-BG);
}

.paragraphs {
    outline: 1px solid var(--SECONDARY-COLOR);
    padding: 2rem;
    margin: 2rem auto;
    background: var(--TEXT-UTILS-DEMO-BG);
}

.text-alignment {
    outline: 1px solid var(--SECONDARY-COLOR);
    padding: 2rem;
    margin: 2rem auto;
    background: var(--TEXT-UTILS-DEMO-BG);
    width: 50%
}

/* Ratings */
.ratings-wrapper {
    background: var(--RATINGS-SECTION)
}

/* Snackbars */
.simple-snackbars {
    background: var(--SIMPLE-SNACKBARS-SECTION);
}

.snackbars-simple {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

.snackbars-with-icons {
    background: var(--SNACKBARS-WITH-ICONS-SECTION);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
}

.snackbar-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

/* Lists */
.lists-spaced-wrapper {
    background: var(--LISTS-SPACED-SECTION);
}

.lists-spaced li {
    padding: 12px;
    background: var(--SPACED-LISTS-BG);
    border-radius: 7px;
    font-size: large;
    flex-basis: 20%;
}

.spaced-lists {
    flex-wrap: wrap;
}

.lists-stacked-wrapper {
    background: var(--LISTS-STACKED-SECTION);
}

.lists-stacked li {
    padding: 1rem;
    background: var(--STACKED-LISTS-BG);
    border-radius: 7px;
    font-size: large;
}

/* Navigation */
.top-nav-wrapper{
    background: var(--SIMPLE-ALERTS-SECTION)
}

.top-nav{
    padding: 1rem;
    background: var(--SECONDARY-COLOR);
    border-radius: 4px;
    width: 100%;
    max-width: 100%;
    font-weight: bold;
}

.sidebar-wrapper{
    background: var(--ALERTS-WITH-ICONS-SECTION);
}

.sidebar-demo{
    outline: 1px solid var(--DEFAULT-GREY);
    background: var(--BTN-LIGHT);
    display: flex;
    width: 100%;
}

.side-bar{
    width:40%;
    text-align: center;
}

.side-bar li{
    padding: 1rem;
    background: var(--STACKED-LISTS-BG);
    border-radius: 7px;
    font-size: large;
    margin: 5px;
}

.main-content{
    outline: 1px solid var(--DEFAULT-GREY);
    width: 60%;
    text-align: center;
}

/* Modals */

.modal-cta-wrapper{
    background: var(--HEADINGS-SECTION);
}

.modal-cta-centre-wrapper{
    background: var(--PARAGRAPHS-SECTION);
}

.modals{
    width: 80%;
    height: 30rem;
    outline: 1px solid black;
}

.modal{
    outline: 1px solid var(--DEFAULT-GREY);
    background: var(--BTN-DARK-TEXT);
    padding: 2rem;
}

.modal h1{
    color: var(--DARK-GREEN);
}

.modal-bg-content{
    background: url("/assets/res-img-round.jfif"); 
    height: 100%;
}

/* Sliders */
.sliders-wrapper{
    background: var(--GRID-2-SECTION);
}

.sliders-wrapper .component-showcase {
    width: 60%;
    margin-bottom: 2rem;
    background: var(--GRID-WRAPPER);
    outline: 2px solid var(--SECONDARY-COLOR);
}

/* Media Queries */
@media (max-width: 768px) {
    .header-links {
        display: flex;
        gap: 9px;
        justify-content: flex-end;
        margin-right: 1rem;
        margin-top: 1rem;
        align-items: flex-end;
        font-weight: 600;
    }

    .nav-bar {
        display: none;
    }

    .content {
        position: static;
        width: 100%;
        margin-top: 5rem;
        max-width: 100%;
    }

    .component-wrapper {
        width: 100%;
    }

    .component-showcase {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        margin: 1rem auto;
        padding: 1rem;
    }

    .code-snippet {
        text-align: left;
        width: 100%;
        margin: auto;
        border-radius: 7px;
    }
}

@media (max-width: 480px) {
    .header-links {
        display: flex;
        gap: 7px;
        justify-content: flex-end;
        margin-right: 0px;
        margin-top: 1rem;
        align-items: flex-end;
        font-weight: 600;
        font-size: 14px;
    }

    .sliders-wrapper .component-showcase {
        width: 100%;
    }

}