@import "/main.css";

.card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 5px;
    width: 15.5rem;
    max-width: 100%;
    margin: auto;
    padding: 7px;
    background: var( --CARD-BG);
}

.card-child {
    padding: 4px;
}

.card-header {
    display: flex;
    flex-direction: column;
    max-height: 50%;
}

.card-header .card-img {
    height: 200px;
    max-height: 40%;
    max-width: 80%;
    margin: 5px auto;
    padding: 1rem
}

.card-body {
    max-height: 70%;
    padding-top: 5px;
}

.card-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
    outline: thin solid var(--SECONDARY-COLOR)
}

.actual-price {
    color: var(--PRIMARY-COLOR);
    text-decoration: line-through;
}

.discount {
    color: var(--DEFAULT-GREEN);
}

.card-badge {
    position: absolute;
    top: 8px;
    left: 2px;
    padding: 0px 6px;
    border-radius: 2px;
}

.badge-right {
    position: absolute;
    top: 8px;
    left: auto;
    right: 2px;
}

.card-badge-def {
    background: var(--DEFAULT-YELLOW);
    color: var(--PURE-BLACK);
}

.dismiss-btn {
    position: absolute;
    right: 5px;
    background: none;
    border: none;
}

.card-disabled {
    outline: 1px solid var(--DEFAULT-GREY);
}

.card-disabled .card-header,
.card-disabled .card-body,
.card-disabled .card-footer {
    opacity: 50%;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    transform: translate(0, -50%);
    text-align: center;
    padding: 2px;
}

.text-horizontal .card-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.text-vertical .card-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
    overflow: hidden;
}

.text-only .card-img {
    display: none;
}

.text-only .card-footer {
    outline: none;
}

.actions-wrapper {
    display: flex;
    gap: 1rem;
}

.action-btn {
    padding: 3px 5px;
    border: none;
    border-radius: 4px;
}

.action-btn:nth-child(1) {
    background: var(--PRIMARY-COLOR);
    color: var(--PRIMARY-TEXT);
}

.action-btn:nth-child(2) {
    background: var(--SECONDARY-COLOR);
    color: var(--SECONDARY-TEXT);
}

.card-horizontal .card-img {
    display: inline;
    margin: 0px;
    height: 40%;
    width: 40%;
    padding: 0px
}

.card-horizontal .card-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0px;
    gap: 10px;
}

.card-horizontal .header-titles {
    align-self: center;
}

.card-horizontal .card-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.card-horizontal .card-footer {
    outline: none;
}

.shadow {
    box-shadow: 0px 2px 4px var(--SHADOW-GREY), 0px 4px 8px var(--SHADOW-GREY)
}

.card-block-horizontal{
    display: grid;
    grid-template-columns: 3fr 7fr;
    align-items: center;
    width: 90%;
    border-radius: 5px;
    background: var(--CARD-BG);
}

.img-container{
    padding: 12px;
}

.card-details{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 1rem;
}

.card-details > button{
    padding: 3px;
    margin: 5px;
}

.card-details > button:hover{
    cursor: pointer;
}
