@import "/main.css";

.slider-container{
    width: 40%
}

.slider{
    width: 100%
}

.slider:hover{
    cursor: pointer;
}

.slider-range{
display: flex;
justify-content: space-between;
}

.slider-value{
    text-align: center;
}