@import "/main.css";

.alerts {
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.success-alert {
    background: var(--LIGHT-GREEN);
    color: var(--DARKER-GREEN);
}

.warning-alert {
    background: var(--LIGHT-YELLOW);
    color: var(--DARKER-YELLOW);
}

.danger-alert {
    background: var(--LIGHT-RED);
    color: var(--DARK-RED);
}

.primary-alert-link {
    background: var(--PRIMARY-COLOR);
    color: var(--PRIMARY-TEXT);
}

.secondary-alert-link {
    background: var(--SECONDARY-COLOR);
    color: var(--SECONDARY-TEXT);
}

.icon-alerts {
    outline: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto 1rem;
}

.icon-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.primary-alert-link .close-btn{
    color: var(--PRIMARY-TEXT)
}
.close-btn {
    display: flex;
    background: none;
    border: none
}

.close-btn:hover {
    cursor: pointer;
}